---

---

<style lang="scss">
    .Hero{
        @apply bg-zinc-900 flex flex-col;
        button{
            @apply bg-blue-500;
        }
    }

</style>

<header class="Hero">
    <h1>Protect youur password</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, labore.</p>
    <button>Start now</button>
    <img src="images/fingerprint.svg" alt="">
</header>