---
interface Props {
    title: string;
}

import '../styles/Layout.css';

const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    { title ? <title>Astro Landing - {title}</title> : <title>Astro Landing</title> }
</head>
<body>
    
    <main class="container">
        <slot/>
    </main>
    
</body>
</html>